*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  position: relative;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #707070;
  background-color: #333; }

.container {
  margin: 0 auto;
  max-width: 800px;
  background-color: white;
  min-height: 100vh; }

.pos-x-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.pos-y-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.pos-xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.pos-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.text-center {
  text-align: center; }

.flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.text-primary {
  color: cornflowerblue; }

.bg-primary {
  background-color: cornflowerblue; }

.text-secondary {
  color: salmon; }

.bg-secondary {
  background-color: salmon; }

.text-white {
  color: white; }

.bg-white {
  background-color: white; }

h1, h2, h3, h4, h5, h6 {
  color: #505050;
  line-height: 1.6; }

section .title {
  text-align: center;
  font-size: 1.8em; }

section p {
  line-height: 1.6; }

.bg-primary .title {
  color: white; }

.bg-secondary .title {
  color: white; }

section {
  position: relative;
  font-size: 1rem;
  padding: 2rem 1rem; }

section.full {
  height: 100vh;
  width: 100vw; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.my-head {
  width: 100%;
  max-width: 15rem;
  margin: 0 auto; }

.message .title {
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.message .title,
.message .subtitle {
  display: block;
  padding: 0.2em 1em;
  margin: 0 auto;
  min-width: 320px;
  max-width: 30rem; }

.message .title.main {
  font-weight: bolder; }

.skills {
  height: 2em;
  position: relative;
  overflow: hidden; }

@media screen and (max-width: 600px) {
  .message {
    font-size: 0.7rem; }
  .my-head {
    max-width: 12rem; } }
